{% extends 'adminindex.html'%}
{% block body %}
<body>
<form id="form1" name="form1" method="POST" action="Policys">
  <CENTER><h3>ADD POLICY</h3></CENTER>
  <table width="200" border="1" align="center" id="customers">

    <tr>
      <th>policy</th>
      <td><label>
        <textarea name="p" required></textarea>
      </label></td>
    </tr>
    <tr>
  </table>
  <center><input type="submit" name="Submit" value="Submit" align="center" class="btn btn-outline-secondary"/></center>
  <table>
    <tr>
      <th>policy</th>
    </tr>

   {% for i in val %}
      <tr>
  
        <td>{{i[1]}}</td>

<!-- 
        <td><a href="acceptscrap?id={{i[0]}}">Accept</a> 
            <a href="rejectscrap?id={{i[0]}}">Reject</a>
        </td> -->
      </tr>
      {%endfor%}
      </table>
</form>
</body>
<!--</html>-->
{% endblock %}